@font-face {
  font-family: "Glafton, Arial, Helvetica, sans-serif";
  src: url("/assets/fonts/Glafton/GlaftonFont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}



@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// $primary: #f7bac5;
// $primary-dark: #f7bac5;
// $secondary: #ba9d2f;
// $third: #98cccc;
// $orange: #f26d48;
// $pink: #f7bac5;
// $background: #f8ebdd;
// $background-blue: rgba(224, 239, 224, 0.8);
// $black: #000;
// $white: #fff;
// $primary-font: "Glafton", Arial, Helvetica, sans-serif;
// $secondary-font: "Montserrat", Arial, Helvetica, sans-serif;

$primary: #98cccc;
$primary-dark: #79b4b4;
$secondary: #f26d48;
$third: #ba9d2f;
$orange: #fbb03e;
$pink: #f7bac5;
$background: #f8ebdd;
$background-blue: rgba(224, 239, 224, 0.8);
$black: #000;
$white: #fff;
$primary-font: "Glafton", Arial, Helvetica, sans-serif;
$secondary-font: "Montserrat", Arial, Helvetica, sans-serif;
