@import "variables";

.about {
  padding: 2rem;
  &.background {
    background-color: $background-blue;
  }
  .container {
    @include flex-center();
    grid-gap: 2rem;

    .image {
      img {
        max-width: 377px;
        max-height: 479px;
      }
    }
    .text {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 850px;

      h2 {
        color: $third;
        font-size: 36px;
        span {
          font-size: 1.2rem;
        }
      }

      p {
        margin: 1rem 0;
        font-size: 20px;
      }

      .btn {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .about {
    .container {
      flex-direction: column;
      .text {
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .about {
    .container {
      .text {
        padding: 0;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .about {
    .container {
      .image {
        img {
          max-width: 275px;
        }
      }
    }
  }
}
