@import "variables";

.book {
  background-color: rgba(171, 183, 183, 0.1);
  .container {
    margin: auto;
    @include flex-center();
    flex-direction: column;
    margin: 4rem auto;

    h3 {
      font-size: 36px;
      margin-bottom: 2rem;
      color: $pink;
    }
  }
}
