@import "variables";

.map {
  @include flex-center();
  flex-direction: column;
  .container {
    // display: flex;
    // // justify-content: center;
    // align-items: flex-start;
    margin: 0;
    width: 100%;
    .map-content {
      align-self: flex-start;
      padding: 0 2rem 2rem;

      h2 {
        color: $third;
      }
      p {
        padding: 0.8rem 0;
      }
    }
  }
}
