@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  color: #000;
  font-family: $secondary-font;
  font-weight: 400;
  background: $background;
  min-height: 100%;
  
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;

  &:hover {
    cursor: pointer;
  }
}

.container {
  max-width: 1400px;
  margin: auto;
}

.btn {
  width: 145px;
  height: 42px;
  border: none;
  border-radius: 25px;
  font-family: $secondary-font;
  margin-bottom: 5rem;

  &-primary {
    background-color: $secondary;
    color: $white;
  }
  &-secondary {
    background-color: $primary;
    color: $white;
  }
  &-third {
    background-color: $third;
    color: $white;
  }
}

h1,
h2,
h3 {
  font-family: $primary-font;
}

.hidden {
  display: none !important;
}