@import "variables";

.header {
  background-color: $primary;
  height: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: sticky;
  top: 0;

  img {
    height: 73px;
    width: 73px;
  }

  .flex-right {
    display: flex;
    flex-direction: row;
    align-items: center;

    .item {
      margin: 0 10px;

      &:hover{
        cursor: pointer;
      }
    }
  }

  .close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 200;
    color: $black;
    // border: 1px solid $black;
    padding: 1rem;
    transition: rotate ease-in-out 150ms;

    &:hover{
      rotate: -10deg;
      cursor: pointer;
    }
    
  }
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 50vh;
    width: 100%;
    overflow: hidden;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $background;
    text-align: center;
    color: $secondary;

      .item {
        margin: 1rem 0;
        font-size: 2rem;
        color: $secondary;
        transition: color ease-in-out 0.2s;
        &.btn {
          background: none;
          width: 100%;
          color: $secondary;
        }
        &:hover{
         color: $primary;
        }
    
    }
  }
}
