@import "variables";

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  @include flex-center();
  background-color: $primary;
  height: 77px;
  justify-content: space-between;
  z-index: 100;
  position: sticky;
  top: 0;

  img {
    height: 73px;
    width: 73px;
  }

  .flex-right {
    @include flex-center();

    flex-direction: row;

    .item {
      margin: 0 10px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }

  .hamberger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 300;
    cursor: pointer;
    width: 60px;
    height: 77px;
    padding: 1rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      position: relative;
      width: 100%;
      height: 2px;
      background-color: #000;
      transition: all 0.4s ease-in-out;

      &:before,
      &:after {
        content: "";
        position: absolute;
        z-index: 300;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
      }

      &:after {
        top: 10px;
      }
    }
  }

  .toggler:checked + .hamberger > div {
    transform: rotate(135deg);

    &::before,
    &::after {
      top: 0;
      transform: rotate(90deg);
    }

    &:hover {
      transform: rotate(225deg);
    }
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 0;
    width: 0;
    overflow: hidden;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $background;
    text-align: center;
    color: $background;
    border-radius: 25px;
    border-top-right-radius: 0;
    transition: all ease-in-out 0.8s;

    .item {
      margin: 1rem 0;
      font-size: 2rem;
      color: $background;
      transition: color ease-in-out 0.5s;

      &.btn {
        background: none;
        width: 100%;
        color: $secondary;
      }
    }
  }

  .toggler:checked ~ .menu {
    width: 100%;
    height: 50vh;

    .item,
    .item.btn {
      color: $secondary;
    }
  }
}
