@import "variables";

.header {
  background-color: $primary;
  height: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: sticky;
  top: 0;

  img {
    height: 73px;
    width: 73px;
  }

  .flex-right {
    display: flex;
    flex-direction: row;
    align-items: center;

    .item {
      margin: 0 10px;
    }
  }
}
