@import "variables";

.services {
  .container {
    text-align: center;
    position: relative;
    overflow-x: hidden;
    padding: 1.5rem;
    @include flex-center();
    flex-direction: column;
    h2 {
      color: $primary-dark;
    }
    .carousel-button {
      position: absolute;
      @include flex-center();
      z-index: 1000;
      top: 50%;
      transform: translateY(-50%);
      font-size: 3rem;
      background-color: transparent;
      border: none;
      color: rgba(255, 255, 255, 0.5);
      border-radius: 0.25rem;
      padding: 0 0.5rem;
      background-color: rgba(0, 0, 0, 0.1);
      transition: color ease-in-out 0.3s, background-color ease-in-out 0.3s;

      &.prev {
        transform: translateY(-50%) rotate(180deg);
        left: 0;
      }

      &.next {
        right: 0;
      }

      &:hover {
        cursor: pointer;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.2);
      }
      &:focus {
        outline: 1px solid #333;
      }
    }

    .carousel {
      display: flex;
      // align-items: center;
      // justify-items: center;
      // overflow-x: auto;
      // scroll-snap-type: x mandatory;
      // text-align: left;

      // scroll-padding: 0 50%;
      // padding-left: 2rem;
      // grid-gap: 2rem;

      &::-webkit-scrollbar {
        display: none;
      }

      .card {
        flex: 0 0 33%;
        max-width: 33%;
        padding: 2rem;
        margin-right: 0.5rem;
        // width: 350px;

        img {
          width: 100%;
          aspect-ratio: 3/4;
        }
      }

      // .card {
      //   display: flex;
      //   flex-direction: column;
      //   // max-width: 280px;
      //   // width: 33%;
      //   height: 700px;
      //   scroll-snap-align: center;

      //   img {
      //     width: 100%;
      //     max-height: 400px;
      //   }
      //   .card-content {
      //     display: flex;
      //     align-items: left;
      //     justify-content: space-between;
      //     flex-direction: column;
      //     height: 300px;
      //     max-width: 333px;

      //     h3 {
      //       margin-top: 1rem;
      //     }
      //     p {
      //       font-size: 20px;
      //     }
      //     button {
      //       margin-top: auto;
      //       &:hover {
      //         cursor: pointer;
      //       }
      //     }
      //   }
      // }
    }
  }
}
