@import "variables";

.slogan{
  @include flex-center();
  height: 300px;
  
  .slogan-container{
    max-width: 1000px;
    margin-top: 5rem;
    padding: 5rem 2rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;

  }
  h3 {
    font-family: $secondary-font;
    font-size: 2rem;
  }
  
}