---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Map from "../components/Map.svelte";
import "../styles/map.scss";
import "leaflet/dist/leaflet.css";

const location = { latitude: 51.0317, longitude: -114.10072 };
const description = "I approach massage with a trauma-informed perspective, creating a safe environment essential to my practice. Through compassionate touch, I help clients reconnect with their bodies for lasting change. Customized treatments support healing journeys, rooted in empathy and understanding trauma's impact."
---

<Layout title="About" description={description}>
  <!-- Hero -->
  <Hero title="About" color="orange" image="/assets/webp/aboutHero.webp" />
  <!-- About -->
  <About image="/assets/webp/headshot.webp" />

  <div class="map">
    <div class="container">
      <div class="map-content">
        <h2>Location</h2>
        <p>Address: 2520 16b St SW, Calgary, AB T2T 4L9</p>
        <p>Phone: 403 835-0046</p>
        <a href="mailto:amandaprokop.rmt@gmail.com"
          >Email: amandaprokop.rmt@gmail.com</a
        >
      </div>
    </div>
    <Map
      client:load
      location={location}
      zoom={14}
      markerMarkup="<a target='_blank' href='https://www.google.com/maps/dir//Amanda+Prokop+RMT,+Massage+Therapy,+2520+16b+St+SW,+Calgary,+AB+T2T+4L9/@51.0295748,-114.1073571,14z/data=!4m9!4m8!1m0!1m5!1m1!1s0x5371711583ef19e9:0xbbed0f03226de6!2m2!1d-114.1007035!2d51.0316867!3e3?entry=ttu'>Click for Directions!</a>"
    />
  </div>
</Layout>
