---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import ServicesSection from "../components/ServicesSection.astro";
import Reviews from "../components/Reviews.astro";
import Slogan from "../components/Slogan.astro";

const description =
  "Compassionate, trauma-informed bodywork to soothe your mind, and soften your body. Connect to your body, and experience deep relaxation and pain relief. Book today!";
---

<Layout title="Amanda Prokop RMT - Home" description={description}>
  <!-- Hero -->
  <h1 style="display: none">Amanda Prokop RMT - Home</h1>
  <Hero
    title="Amanda Prokop Message Therapy"
    page="homepage"
    color="black"
    image="/assets/webp/homepageHero.webp"
    overlay={true}
  />

  <!-- SLogan -->
  <Slogan />

  <!-- ServicesSection -->
  <ServicesSection />

  <!-- About -->
  <!-- <About page="homepage" image="/assets/about-image.jpeg" background={true} /> -->
  <About
    page="homepage"
    image="/assets/webp/about-image.webp"
    background={true}
  />

  <!-- Reviews -->
  <Reviews />
</Layout>
