---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Amanda Prokop RMT">
  <!--header -->

  <!-- Hero -->

  <!-- About -->

  <!-- Services -->

  <!-- Reviews -->

  <h1>Hello Manadaman</h1>

  <!-- footer -->
</Layout>
