---
import "../styles/about.scss";
import photo from "/assets/about-image.jpeg";

export interface Props {
  page?: string;
  background?: boolean;
  image: string;
}

const { page, image, background } = Astro.props;

const homepage = page === "homepage";
---

<section class={background ? "about background" : "about"}>
  <div class="container">
    <div class="image">
      <img src={image} alt="" />
    </div>
    <div class="text">
      <h2>About Me</h2>
      {
        homepage ? (
          <>
            <p>
              My goal is to help connect people back to their bodies through the
              power of compassionate touch, so they can experience lasting
              change. I believe that the power of touch can guide the body back
              into its balanced and secure state, which can be especially
              beneficial for clients who have experienced trauma.
            </p>
            <a href="/about">
              <button class="btn btn-third">LEARN MORE</button>
            </a>
          </>
        ) : (
          <>
            <p>
              I approach massage from a trauma-informed perspective. For me,
              creating a safe and soothing environment is essential to my
              practice. I believe that when people feel safe, they are more open
              to receiving the benefits of massage.
            </p>
            <p>
              My goal is to help connect people back to their bodies through the
              power of compassionate touch, so they can experience lasting
              change. I believe that the power of touch can guide the body back
              into its balanced and secure state, which can be especially
              beneficial for clients who have experienced trauma. Regular
              massage provides emotional and psychological support, and
              decreases feelings of anxiety and social isolation.
            </p>
            <p>
              I customize each treatment to meet the specific needs of my
              clients. I use a variety of modalities, including massage,
              cupping, craniosacral therapy, and reiki, to create a personalized
              experience that supports my clients' healing journey. I believe
              that every person's body and experiences are unique, so I strive
              to create a treatment plan that is tailored to each individual.
            </p>
            <p>
              Overall, my approach to massage is rooted in empathy, compassion,
              and a deep understanding of how the body responds to trauma. I am
              dedicated to providing a safe and healing space where my clients
              can experience the transformative power of touch.
            </p>
            <a href="/contact">
              <button class="btn btn-third">Contact Me</button>
            </a>
          </>
        )
      }
    </div>
  </div>
</section>
