---
import "../styles/contactForm.scss";
---

<div class="contact-form">
  <div class="container">
    <div class="image">Hi</div>
    <div class="form">
      <h2>Get In Touch</h2>
      <form>
        <input type="text" name="name" placeholder="FULL NAME" />
        <input type="email" name="email" placeholder="EMAIL" />
        <textarea name="message" id="" cols="30" rows="10" placeholder="MESSAGE"
        ></textarea>
      </form>
    </div>
  </div>
</div>
