---
import logo from "../../public/assets/APPrimaryOrange.png";
import insta from "../../public/assets/insta.png";
import linkedin from "../../public/assets/linkedin.png";
import "../styles/footer.scss";
---

<footer class="footer">
  <div class="container">
    <div class="left">
      <p>COPYRIGHT 2023</p>
      <p class="dhamma"><a href="https://dhammadevs.com">DhammDevs</a></p>
    </div>
    <div class="logo">
      <img src={logo} alt="footer logo" />
    </div>
    <div class="socials">
      <a href="https://www.instagram.com/amandalaprokop/"><img src={insta} alt="instagram" /></a>
      <a href="https://www.linkedin.com/in/amanda-prokop-59145117b/"><img src={linkedin} alt="LinkedIn" /></a>
    </div>
  </div>
</footer>
