---
import logo from "../../public/assets/APmono_orange.png";
import fb from "../../public/assets/fb.png";
import insta from "../../public/assets/insta.png";
import linkedin from "../../public/assets/linkedin.png";
---

<footer class="footer">
  <div class="container">
    <div class="left">
      <p>COPYRIGHT 2023</p>
      <p><a href="https://dhammadevs.com">DhammDevs</a></p>
    </div>
    <img src={logo} alt="footer logo" />
    <div class="socials">
      <a href=""><img src={fb} alt="instagram" />instagram</a>
      <a href=""><img src={insta} alt="LinkedIn" />LinkedIn</a>
      <a href=""><img src={linkedin} alt="facebook" />facebook</a>
    </div>
  </div>
</footer>
