---
import logo from "../../public/assets/webp/AP_altOrange.webp";
import insta from "../../public/assets/insta.png";
import "../styles/footer.scss";
---

<footer class="footer">
  <div class="container">
    <div class="left">
      <p>COPYRIGHT 2023</p>
      <p class="dhamma">
        Made by <a href="https://dhammadevs.com">DhammDevs</a>
      </p>
    </div>
    <div class="logo">
      <picture>
        <source
          type="image/avif"
          srcset="
      /assets/avif/AP_altOrange.avif?width=100 100w,
      /assets/avif/AP_altOrange.avif?width=200 200w,
      /assets/avif/AP_altOrange.avif?width=400 400w,
      /assets/avif/AP_altOrange.avif?width=800 800w,
      "
        />
        <img
          src={logo}
          alt="hero logo"
          role="presentation"
          fetchpriority="high"
          decoding="async"
          class="logo-image"
        />
      </picture>
    </div>
    <div class="socials">
      <a href="https://www.instagram.com/amandalaprokop/"
        ><img src={insta} alt="instagram" /></a
      >
    </div>
  </div>
</footer>
