---
import logo from "/assets/webp/APmono_orange.webp";
import "../styles/header.scss";
---

<header class="header">
  <div>
    <a href="/"
      ><img
        src={logo}
        alt="A.P initials logo"
        loading="eager"
        fetchpriority="high"
        decoding="async"
      /></a
    >
  </div>

  <ul id="desktop-menu" class="flex-right">
    <li class="item"><a id="home" href="/">HOME</a></li>
    <li class="item"><a href="/about">ABOUT</a></li>
    <li class="item"><a href="/services">SERVICES</a></li>
    <li class="item"><a href="/contact">CONTACT</a></li>
    <a
      href="https://amandaprokop.janeapp.com/#staff_member/1"
      target="_blank"
      rel="noreferrer"><button class="item btn btn-primary">BOOK NOW</button></a
    >
  </ul>
  <label for="hamberger-menu" class="hidden"></label>
  <input id="open-menu" class="toggler " type="checkbox" />
  <div id="hamberger" class="hamberger "><div></div></div>

  <div id="mobile-menu" class="menu">
    <ul>
      <li class="item"><a href="/" id="home" class="hidden">HOME</a></li>
      <li class="item"><a href="/about">ABOUT</a></li>
      <li class="item"><a href="/services">SERVICES</a></li>
      <li class="item"><a href="/contact">CONTACT</a></li>
      <a
        href="https://amandaprokop.janeapp.com/#staff_member/1"
        target="_blank"
        rel="noreferrer"><li class="item">BOOK NOW</li></a
      >
    </ul>
  </div>
</header>

<script>
  const home = document.querySelectorAll("#home") as NodeListOf<Element>;
  const open = document.getElementById("open-menu") as HTMLInputElement;
  const hamberger = document.getElementById("hamberger") as HTMLElement;
  const desktopMenu = document.getElementById("desktop-menu") as HTMLElement;

  const homepage = window.location.href.split("/");
  if (homepage[3]) {
    home.forEach((homeBtn) => homeBtn.classList.remove("hidden"));
  } else {
    home.forEach((homeBtn) => homeBtn.classList.add("hidden"));
  }

  hamberger.addEventListener("click", () => {
    open.checked = !open.checked;
  });
</script>
