---
import logo from "../../public/assets/APmono_orange.png";
import "../styles/header.scss";
---

<header class="header">
  <div><img src={logo} alt="A.P initials logo" /></div>

  <ul class="flex-right">
    <li class="item">PRICING + SERVICES</li>
    <li class="item">ABOUT</li>
    <li class="item">CONTACT</li>
    <button class="item btn btn-primary">BOOK NOW</button>
  </ul>
</header>
