---
export interface Props {
  title: string;
  page?:string;
}
import "../styles/hero.scss";
import headerBg from "/assets/test.jpg";

const {title, page} = Astro.props
const homepage = page === "homepage" ? true : false
---
<section class="hero">
  <div class="container">
    <div class="background-image"></div>
    <h1 class={homepage ? "hidden" : ""}>{title}</h1>
    <div class="header-bg">
      <img
        src={headerBg}
        alt="header background image"
        loading="eager"
      ></img>

    {homepage && (
      <>
      <div class="logo">
      <picture>
        <source 
        //   type="image/avif"
        //   srcset="
        //   /assets/avif/APPrimaryOrange.avif?width=100 100w,
        //   /assets/avif/APPrimaryOrange.avif?width=200 200w,
        //   /assets/avif/APPrimaryOrange.avif?width=400 400w,
        //   /assets/avif/APPrimaryOrange.avif?width=800 800w,
        //   "
        />
        <img 
          src="/assets/webp/APPrimaryOrange.webp" 
          alt="hero logo" 
          role="presentation" 
          fetchpriority="high" 
          decoding="async" 
          
          />
    
      </picture>
    </div>
      <button class="btn btn-primary">BOOK NOW</button>
      </>
    )}
  </div>
</section>

