---
export interface Props {
  title: string;
  page?: string;
  overlay?: boolean;
  color: string;
  image: string;
}
import "../styles/hero.scss";
import logo from "/assets/webp/APPrimaryOrange.webp";

const { title, page, color, image, overlay } = Astro.props;
const homepage = page === "homepage" ? true : false;
---

<section class="hero">
  {overlay && <div class="overlay" />}
  <div class="header-bg">
    <picture>
      <img
        src={image}
        alt="header background image"
        loading="eager"
        role="presentation"
        fetchpriority="high"
        decoding="async"
      />
    </picture>
  </div>

  <div class="container">
    <div class="logo-container">
      <h1 class={homepage ? "hidden" : color}>{title}</h1>
      {
        homepage && (
          <>
            <picture>
              <source
                type="image/avif"
                srcset="
            /assets/avif/logo.avif?width=100 100w,
            /assets/avif/logo.avif?width=200 200w,
            /assets/avif/logo.avif?width=400 400w,
            /assets/avif/logo.avif?width=800 800w,
            "
              />
              <img
                src={logo}
                alt="hero logo"
                role="presentation"
                fetchpriority="high"
                decoding="async"
                class="logo-image"
              />
            </picture>
            <a
              href="https://amandaprokop.janeapp.com/#staff_member/1"
              target="_blank"
              rel="noreferrer"
            >
              <button class="btn btn-primary">BOOK NOW</button>
            </a>
          </>
        )
      }
    </div>
  </div>
</section>
