---
import "../styles/book.scss";
---

<div class="book">
  <div class="container">
    <h3>Ready to Book?</h3>
    <a
      href="https://amandaprokop.janeapp.com/#staff_member/1"
      target="_blank"
      rel="noreferrer"><button class="item btn btn-orange">BOOK NOW</button></a
    >
  </div>
</div>
