---
import "../styles/reviews.scss";
import reviews from "../helpers/reviews";
---

<section class="reviews">
  <div class="container">
    <h2>Kind Words</h2>
    <div class="text">
      {
        reviews.map((review) => {
          return (
            <>
              <div class="review">
                <p>{review.value}</p>
                <h4>{review.name}</h4>
              </div>
            </>
          );
        })
      }
    </div>
    <a href="/contact"><button class="btn btn-third">BOOK NOW</button></a>
  </div>
</section>
