---
export interface Props {
  photo: string;
  text: string;
  title: string;
  id: string;
}

const { photo, text, title, id } = Astro.props;

const trimText = (text: string) => {
  if (text.length > 100) {
    return text.substring(0, 100) + "...";
  }
  return text;
};
---

<div class="card">
  <img src={photo} alt="" />
  <h3>{title}</h3>
  <p>
    {trimText(text)}
  </p>
  <button class="btn btn-secondary"
    ><a href=`/services#${id}`></a> LEARN MORE</button
  >
</div>
