---
import "../styles/services.scss";
import ServiceCard from "../components/ServiceCard.astro";
import services from "../servicesArr";
---

<section class="services">
  <div class="container">
    <h2>Services</h2>
    <button class="carousel-button prev" id="prev">&#10140;</button>
    <button class="carousel-button next" id="next">&#10140;</button>

    <div class="carousel" id="carousel-container">
      {
        services.map((service, index) => {
          return (
            <ServiceCard
              photo={service.photo}
              title={service.title}
              id={service.id}
              index={index}
            />
          );
        })
      }
    </div>
  </div>
</section>

<script>
  const container = document.getElementById(
    "carousel-container"
  ) as HTMLElement;
  const cards = Array.from(container.children) as HTMLElement[];
  const nextBtn = document.getElementById("next") as HTMLElement;
  const prevBtn = document.getElementById("prev") as HTMLElement;

  let currentIndex: number = parseInt(
    getComputedStyle(container).getPropertyValue("--carousel-index")
  );

  console.log("car type", currentIndex);
  nextBtn.addEventListener("click", () => {
    // currentIndex += 1;
    container.style.setProperty(
      "--carousel-index",
      (currentIndex + 1).toString()
    );
    currentIndex += 1;
    console.log("next", currentIndex);
  });
  prevBtn.addEventListener("click", () => {
    console.log("prev start", currentIndex);

    container.style.setProperty(
      "--carousel-index",
      (currentIndex - 1).toString()
    );
    currentIndex -= 1;
    console.log("prev end", currentIndex);
  });

  // nextBtn.addEventListener("click", () => {
  //   let scrollWidth = container.offsetWidth;
  //   currentIndex = (currentIndex + 1) % cards.length;
  //   container.insertBefore(cards[currentIndex], null);
  //   container.scrollBy({
  //     left: scrollWidth,
  //     behavior: "smooth",
  //   });
  // });

  // prevBtn.addEventListener("click", () => {
  //   let scrollWidth = container.offsetWidth;
  //   currentIndex = (currentIndex - 1 + cards.length) % cards.length;
  //   container.insertBefore(cards[currentIndex], null);
  //   container.scrollBy({
  //     left: -scrollWidth,
  //     behavior: "smooth",
  //   });
  // });
</script>
