---
export interface Props {
  photo: string;
  text: string;
  title: string;
  id: string;
}

const { photo, text, title, id } = Astro.props;

const trimText = (text: string) => {
  if (text.length > 100) {
    return text.substring(0, 100) + "...";
  }
  return text;
};
---

<a href=`/services#${id}` class="card-container"
  ><div class="card">
    <img src={photo} role="presentation" />
    <h3>{title}</h3>
    <p>
      {trimText(text)}
    </p>
    <button class="btn btn-secondary">LEARN MORE</button>
  </div></a
>
