---
import "../styles/services.scss";
import ServiceCard from "../components/ServiceCard.astro";
import services from "../servicesArr";
---

<section class="services">
  <div class="container">
    <h2>Services</h2>
    <button class="carousel-button prev" id="prev">&#10140;</button>
    <button class="carousel-button next" id="next">&#10140;</button>

    <div class="carousel" id="carousel-container">
      {
        services.map((service, index) => {
          return (
            <ServiceCard
              photo={service.photo}
              title={service.title}
              id={service.id}
              index={index}
            />
          );
        })
      }
    </div>

    <!-- use JS to create teh progress bar -->
    <div class="progress-bar" id="progress"></div>
  </div>
</section>

<script>
  const container = document.getElementById(
    "carousel-container"
  ) as HTMLElement;
  const cards = Array.from(container.children) as HTMLElement[];
  const progress = document.getElementById("progress") as HTMLElement;
  const nextBtn = document.getElementById("next") as HTMLElement;
  const prevBtn = document.getElementById("prev") as HTMLElement;

  // current index to see which progress index we are on
  let currentIndex: number = parseInt(
    getComputedStyle(container).getPropertyValue("--carousel-index")
  );

  // recalculate progress based on window size
  window.addEventListener("resize", () => {});

  //calculate progress bar
  const calculateProgressBar = (progress: HTMLElement) => {
    progress.innerHTML = "";
    const itemCount = container.children.length;
    const itemsPerScreen = parseInt(
      getComputedStyle(container).getPropertyValue("--items-per-screen")
    );

    const progressItemCount = Math.ceil(itemCount / itemsPerScreen);
    console.log(itemCount);
    for (let i = 0; i < progressItemCount; i++) {
      const barItem = document.createElement("div");
      barItem.classList.add("progress-item");

      if (i === currentIndex) {
        barItem.classList.add("active");
      }
      progress.append(barItem);
    }
  };

  // call the calculate function
  calculateProgressBar(progress);

  nextBtn.addEventListener("click", () => {
    // currentIndex += 1;
    container.style.setProperty(
      "--carousel-index",
      (currentIndex + 1).toString()
    );
    currentIndex += 1;
    console.log("next", currentIndex);
    calculateProgressBar(progress);
  });
  prevBtn.addEventListener("click", () => {
    console.log("prev start", currentIndex);

    container.style.setProperty(
      "--carousel-index",
      (currentIndex - 1).toString()
    );
    currentIndex -= 1;
    console.log("prev end", currentIndex);
    calculateProgressBar(progress);
  });

  // nextBtn.addEventListener("click", () => {
  //   let scrollWidth = container.offsetWidth;
  //   currentIndex = (currentIndex + 1) % cards.length;
  //   container.insertBefore(cards[currentIndex], null);
  //   container.scrollBy({
  //     left: scrollWidth,
  //     behavior: "smooth",
  //   });
  // });

  // prevBtn.addEventListener("click", () => {
  //   let scrollWidth = container.offsetWidth;
  //   currentIndex = (currentIndex - 1 + cards.length) % cards.length;
  //   container.insertBefore(cards[currentIndex], null);
  //   container.scrollBy({
  //     left: -scrollWidth,
  //     behavior: "smooth",
  //   });
  // });
</script>
