---
export interface Props {
  photo: string;
  title: string;
  id: string;
  index: number;
}

const { photo, title, id, index } = Astro.props;
---

<div class="card" data-index={index}>
  <img src={photo} role="presentation" />

  <h3>{title}</h3>
  <a href=`/services#${id}`
    ><button class="btn btn-secondary">LEARN MORE</button></a
  >
</div>
