---
import "../styles/services.scss";
import ServiceCard from "../components/ServiceCard.astro";
import services from "../servicesArr";
---

<section class="services">
  <div class="container">
    <h2>Services</h2>
    <button class="carousel-button prev" id="prev">&#10140;</button>
    <button class="carousel-button next" id="next">&#10140;</button>

    <div class="carousel" id="carousel-container">
      {
        services.map((service, index) => {
          return (
            <ServiceCard
              photo={service.photo}
              title={service.title}
              id={service.id}
              index={index}
            />
          );
        })
      }
    </div>
  </div>
</section>

<script>
  const container = document.getElementById(
    "carousel-container"
  ) as HTMLElement;
  const cards = Array.from(container.children) as HTMLElement[];
  const nextBtn = document.getElementById("next") as HTMLElement;
  const prevBtn = document.getElementById("prev") as HTMLElement;

  let currentIndex = 0;

  nextBtn.addEventListener("click", () => {
    let scrollWidth = container.offsetWidth;
    currentIndex = (currentIndex + 1) % cards.length;
    container.insertBefore(cards[currentIndex], null);
    container.scrollBy({
      left: scrollWidth,
      behavior: "smooth",
    });
  });

  prevBtn.addEventListener("click", () => {
    let scrollWidth = container.offsetWidth;
    currentIndex = (currentIndex - 1 + cards.length) % cards.length;
    container.insertBefore(cards[currentIndex], null);
    container.scrollBy({
      left: -scrollWidth,
      behavior: "smooth",
    });
  });
</script>
