---
import "../styles/services.scss";
import photo from "../../public/assets/yuli.jpg";
import ServiceCard from "../components/ServiceCard.astro";
import services from "../servicesArr";
---

<section class="services">
  <div class="container">
    <h2>Services</h2>
    <button class="carousel-button prev" id="prev">&#10140;</button>
    <button class="carousel-button next" id="next">&#10140;</button>

    <div class="carousel" id="carousel-container">
      {
        services.map((service) => {
          return (
            <ServiceCard
              photo={service.photo}
              text={service.value}
              title={service.title}
              id={service.id}
            />
          );
        })
      }
    </div>
  </div>
</section>

<script>
  const container = document.getElementById(
    "carousel-container"
  ) as HTMLElement;
  const cards = Array.from(container.children) as HTMLElement[];
  const nextBtn = document.getElementById("next") as HTMLElement;
  const prevBtn = document.getElementById("prev") as HTMLElement;

  let containerDimensions = cards[0].getBoundingClientRect();
  let cardWidth = containerDimensions.width;
  console.log("cardwidth", cardWidth);

  nextBtn.addEventListener("click", () => {
    console.log("next");
    container.scrollLeft += cardWidth * 3;
  });
  prevBtn.addEventListener("click", () => {
    console.log("prev");
    container.scrollLeft -= cardWidth * 3;
  });
</script>
