---
import "../styles/slogan.scss";
---

<section class="slogan">
  <div class="slogan-container">
    <h3>
      Compassionate, trauma-informed bodywork to soothe your mind, and soften
      your body
    </h3>
  </div>
</section>
